<section id="features" class="features">
    <div class="container">

      <div class="section-title aos-init aos-animate" data-aos="fade-up">
        <h2>Some information about <strong>partenership</strong> offers </h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">
        <div class="col-lg-4 mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade-right">
          <ul class="nav nav-tabs flex-column" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1" aria-selected="true" role="tab">
                <h4>Modi sit est</h4>
                <p>Quis excepturi porro totam sint earum quo nulla perspiciatis eius.</p>
              </a>
            </li>
            <li class="nav-item mt-2" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-2" aria-selected="false" tabindex="-1" role="tab">
                <h4>Unde praesentium sed</h4>
                <p>Voluptas vel esse repudiandae quo excepturi.</p>
              </a>
            </li>
            <li class="nav-item mt-2" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-3" aria-selected="false" tabindex="-1" role="tab">
                <h4>Pariatur explicabo vel</h4>
                <p>Velit veniam ipsa sit nihil blanditiis mollitia natus.</p>
              </a>
            </li>
            <li class="nav-item mt-2" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-4" aria-selected="false" tabindex="-1" role="tab">
                <h4>Nostrum qui quasi</h4>
                <p>Ratione hic sapiente nostrum doloremque illum nulla praesentium id</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-7 ml-auto aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1" role="tabpanel">
              <figure>
                <img src="assets\img\partners.png" alt="" class="img-fluid">
              </figure>
              <button type="button" class="btn mb-md-0 mb-2 btn-primary" [routerLink]="['/SellMainComponent']">Manage your partnership</button>

            </div>
            <div class="tab-pane" id="tab-2" role="tabpanel">
              <figure>
                <img src="assets/img/features-2.png" alt="" class="img-fluid">
              </figure>
            </div>
            <div class="tab-pane" id="tab-3" role="tabpanel">
              <figure>
                <img src="assets/img/features-3.png" alt="" class="img-fluid">
              </figure>
            </div>
            <div class="tab-pane" id="tab-4" role="tabpanel">
              <figure>
                <img src="assets/img/features-4.png" alt="" class="img-fluid">
              </figure>
            </div>
          </div>
        </div>
      </div>

    </div>

</section>
<hr>

<section id="features" class="features">
    <div class="container">

      <div class="section-title aos-init aos-animate" data-aos="fade-up">
        <h2>You need to scale up your business <strong>join us</strong> to gest the best guide </h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">
        <div class="col-lg-4 mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade-right">
          <ul class="nav nav-tabs flex-column" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1" aria-selected="true" role="tab">
                <h4>Modi sit est</h4>
                <p>Quis excepturi porro totam sint earum quo nulla perspiciatis eius.</p>
              </a>
            </li>
            <li class="nav-item mt-2" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-2" aria-selected="false" tabindex="-1" role="tab">
                <h4>Unde praesentium sed</h4>
                <p>Voluptas vel esse repudiandae quo excepturi.</p>
              </a>
            </li>
            <li class="nav-item mt-2" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-3" aria-selected="false" tabindex="-1" role="tab">
                <h4>Pariatur explicabo vel</h4>
                <p>Velit veniam ipsa sit nihil blanditiis mollitia natus.</p>
              </a>
            </li>
            <li class="nav-item mt-2" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-4" aria-selected="false" tabindex="-1" role="tab">
                <h4>Nostrum qui quasi</h4>
                <p>Ratione hic sapiente nostrum doloremque illum nulla praesentium id</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-7 ml-auto aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1" role="tabpanel">
              <figure>
                <img src="assets/img/Finance-amico.png" alt="" class="img-fluid">
              </figure>
              <button type="button" class="btn mb-md-0 mb-2 btn-primary" [routerLink]="['/SellMainComponent']">Scale your business</button>

            </div>
            <div class="tab-pane" id="tab-2" role="tabpanel">
              <figure>
                <img src="assets/img/features-2.png" alt="" class="img-fluid">
              </figure>
            </div>
            <div class="tab-pane" id="tab-3" role="tabpanel">
              <figure>
                <img src="assets/img/features-3.png" alt="" class="img-fluid">
              </figure>
            </div>
            <div class="tab-pane" id="tab-4" role="tabpanel">
              <figure>
                <img src="assets/img/features-4.png" alt="" class="img-fluid">
              </figure>
            </div>
          </div>
        </div>
      </div>

    </div>

</section>
<hr>



<section id="features" class="features">
    <div class="container">

      <div class="section-title aos-init aos-animate" data-aos="fade-up">
        <h2>Thinking about managing your <strong>CRM</strong> Why not! </h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">
        <div class="col-lg-4 mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade-right">
          <ul class="nav nav-tabs flex-column" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1" aria-selected="true" role="tab">
                <h4>Modi sit est</h4>
                <p>Quis excepturi porro totam sint earum quo nulla perspiciatis eius.</p>
              </a>
            </li>
            <li class="nav-item mt-2" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-2" aria-selected="false" tabindex="-1" role="tab">
                <h4>Unde praesentium sed</h4>
                <p>Voluptas vel esse repudiandae quo excepturi.</p>
              </a>
            </li>
            <li class="nav-item mt-2" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-3" aria-selected="false" tabindex="-1" role="tab">
                <h4>Pariatur explicabo vel</h4>
                <p>Velit veniam ipsa sit nihil blanditiis mollitia natus.</p>
              </a>
            </li>
            <li class="nav-item mt-2" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-4" aria-selected="false" tabindex="-1" role="tab">
                <h4>Nostrum qui quasi</h4>
                <p>Ratione hic sapiente nostrum doloremque illum nulla praesentium id</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-7 ml-auto aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1" role="tabpanel">
              <figure>
                <img src="assets/img/goal.png" alt="" class="img-fluid">
              </figure>
              <button type="button" class="btn mb-md-0 mb-2 btn-primary" [routerLink]="['/SellMainComponent']"> Manage your CRM</button>

            </div>
            <div class="tab-pane" id="tab-2" role="tabpanel">
              <figure>
                <img src="assets/img/features-2.png" alt="" class="img-fluid">
              </figure>
            </div>
            <div class="tab-pane" id="tab-3" role="tabpanel">
              <figure>
                <img src="assets/img/features-3.png" alt="" class="img-fluid">
              </figure>
            </div>
            <div class="tab-pane" id="tab-4" role="tabpanel">
              <figure>
                <img src="assets/img/features-4.png" alt="" class="img-fluid">
              </figure>
            </div>
          </div>
        </div>
      </div>

    </div>

</section>
<hr>