.yellow-bg {
    color: #bfc715;
    /* background-color: rgba(0, 255, 111, 0.2196078431); */
    font-family: serif;
  }
  
  .green-bg {
    color: green;
    /* background-color: rgba(0, 255, 111, 0.2196078431); */
    font-family: serif;  }
  
    .red-bg {

    color: #c7152a;
    /* background-color: rgba(0, 255, 111, 0.2196078431); */
    font-family: serif;
    }