.btn.btn-primary {
    padding: 12px 16px;
    cursor: pointer;
    border-width: 1px;
    border-radius: 5px;
    font-size: 1px;
    font-weight: 500;
    box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
}