<article class="entry">
  
    <div class="entry-img">
      <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
    </div>

    <h2 class="entry-title">
      <a href="blog-single.html">VERMEG</a>
    </h2>

    <div class="entry-meta">
      <ul>
        <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">John Doe</a></li>
        <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
        <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li>
      </ul>
    </div>

    <div class="entry-content">
      <p>
        VERMEG est un groupe international de logiciels opérant dans plusieurs gammes de services B2B : retraites et assurances, gestion de patrimoine et d'actifs, marchés financiers et de sécurité et services financiers numériques.
      </p>
      
          <!-- ======= client Section ======= -->
          <app-clients></app-clients>
          <div class="read-more">
            <a [routerLink]="['/MainReFormComponent/topicMessageComponent']">add partnership</a>
          </div>
        </div>
  </article>