<article class="entry">
  
    <div class="entry-img">
      <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
    </div>

    <h2 class="entry-title">
      <a href="blog-single.html">{{Entreprise.nom}}</a>
    </h2>

    <div class="entry-meta">
      <ul>
        <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">{{Entreprise.employeeNBR}}</a></li>
        <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">{{Entreprise.creationDate}}</time></a></li>
        <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">{{Entreprise.secteur}}</a></li>
      </ul>
    </div>

    <div class="entry-content">
      <p>
        {{Entreprise.description}}
            </p>
      
          <!-- ======= client Section ======= -->
          <section id="clients" class="clients">
            <div class="container">
      
              <div class="section-title aos-init aos-animate" data-aos="fade-up">
                <h2>Our <strong>Services</strong></h2>
                <h1>{{Entreprise.service.nom}}</h1><p>{{Entreprise.service.description}}.</p>
              </div>
      
              
      
            </div>
          </section>          <div class="read-more">
            <a  (click)="createPartnership()">add partnership</a>
          </div>
        </div>
  </article>