<section id="portfolio" class="portfolio">
  <div class="container">
   
    <div class="row portfolio-container aos-init aos-animate" data-aos="fade-up">
      <div class="col-lg-4 col-md-6 portfolio-item filter-web" *ngFor="let a of annonce">
        <div class="card">
          <img src="assets/img/announcement.PNG" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Date limite : {{ a.dateLimite | date:'short' }}</h5>
            <p class="card-text">Description : {{ a.description }}</p>
            <p class="card-text">Compétences : {{ a.competences}}</p>
            <p class="card-text">Type d'annonce : {{ a.annonceType }}</p>
    
            <!-- Ajoute d'autres éléments en fonction des attributs de ton modèle d'annonce -->
          </div>
        </div>
      </div>
    </div>
    
      </div>

    

    
</section>