
<section id="services" class="services">

  <section _ngcontent-gtn-c7="" id="cta" class="cta">
    <div _ngcontent-gtn-c7="" class="container">
      <div _ngcontent-gtn-c7="" class="row">
        <div _ngcontent-gtn-c7="" class="col-lg-9 text-center text-lg-left">
            <h3 _ngcontent-gtn-c7="">What <span _ngcontent-gtn-c7="">type</span> of real partnership do you want to make ?</h3>
          <p _ngcontent-gtn-c7=""> Each type of partnership do you want to make ?</p>
        </div>

      </div>
    </div>
  </section>
  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="icon-box aos-init aos-animate" data-aos="fade-up">
          <div class="icon"><i class="bi bi-union"></i>
          </div>
          <h4 class="title">
            <a [routerLink]="['/MainEntrepriseListComponent']"  (click)="savetypeMerge()">Merge</a></h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bi bi-box-arrow-in-up-left"></i></div>
          <h4 class="title"><a [routerLink]="['/MainEntrepriseListComponent']" href="" (click)="savetypeAquisition() ">Acquisition</a></h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bi bi-bar-chart-steps"></i></div>
          <h4 class="title"><a [routerLink]="['/MainEntrepriseListComponent']" href="" (click)="savetypeStrategicP()">Strategic partnership</a></h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bi bi-building-lock"></i></div>
          <h4 class="title"><a [routerLink]="['/MainEntrepriseListComponent']" href="" (click)="savetypeJoinV()">Join venture</a></h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="bi bi-person-workspace"></i></div>
          <h4 class="title"><a [routerLink]="['/MainEntrepriseListComponent']" href="" (click)="savetypeBusinessA()">Business aliance</a></h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="bi bi-ui-checks-grid"></i></div>
          <h4 class="title"><a [routerLink]="['/MainEntrepriseListComponent']" href="" (click)="savetypeDistributionA()">Distribution Agreement</a></h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="bi bi-file-check-fill"></i></div>
          <h4 class="title"><a [routerLink]="['/MainEntrepriseListComponent']" href="" (click)="savetypeLicencingA()">Licensing Agreements</a></h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="bi bi-arrows-collapse"></i></div>
          <h4 class="title"><a [routerLink]="['/MainEntrepriseListComponent']" href="" (click)="savetypeCoDev()">Co-Development Agreements</a></h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="bi bi-cpu-fill"></i></div>
          <h4 class="title"><a [routerLink]="['/MainEntrepriseListComponent']" href="" (click)="savetypeTechnologyP()">Technology Partnership</a></h4>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
        <div class="icon"><i class="bi bi-box-seam"></i></div>
        <h4 class="title"><a [routerLink]="['/MainEntrepriseListComponent']" href="" (click)="savetypeBJoinPD()">Joint Product Development Agreements</a></h4>
      </div>
    </div>
  
  </div>
</section>
