<!-- ======= Top Bar ======= -->
<app-top-bar></app-top-bar>

<!-- ======= Header ======= -->
<app-header></app-header>
  
    <main id="main" class="">
        <!-- ======= Breadcrumbs ======= -->
      <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
  
          <div class="d-flex justify-content-between align-items-center">
            <h2>Ads</h2>
            <ol>
              <li><a href="index.html">Home</a></li>
              <li>Ads</li>
            </ol>
          </div>
  
        </div>
      </section><!-- End Breadcrumbs -->

<section id="portfolio-details" class="portfolio-details">
    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
            <div class="swiper-wrapper align-items-center" id="swiper-wrapper-b97ec33a4e17c9c2" aria-live="off" style="transform: translate3d(-2064px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate swiper-slide-next swiper-slide-duplicate-prev" data-swiper-slide-index="2" role="group" aria-label="3 / 3" style="width: 516px;">
                <img src="assets/img/portfolio/portfolio-3.jpg" alt="">
              </div>

              <div class="swiper-slide swiper-slide-duplicate-active" data-swiper-slide-index="0" role="group" aria-label="1 / 3" style="width: 516px;">
                <img src="assets/img/portfolio/portfolio-1.jpg" alt="">
              </div>

              <div class="swiper-slide" data-swiper-slide-index="1" role="group" aria-label="2 / 3" style="width: 516px;">
                <img src="assets/img/portfolio/portfolio-2.jpg" alt="">
              </div>

              <div class="swiper-slide swiper-slide-prev swiper-slide-duplicate-next" data-swiper-slide-index="2" role="group" aria-label="3 / 3" style="width: 516px;">
                <img src="assets/img/portfolio/portfolio-3.jpg" alt="">
              </div>

            <div class="swiper-slide swiper-slide-duplicate swiper-slide-active" data-swiper-slide-index="0" role="group" aria-label="1 / 3" style="width: 516px;">
                <img src="assets/img/portfolio/portfolio-1.jpg" alt="">
              </div></div>
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1" aria-current="true"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span></div>
          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div> 
        </div>


        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Realestate information</h3>
            <ul>
              <li><strong>Surface</strong>: {{ estate.surface }}</li>
              <li><strong>Room Number</strong>: {{ estate.number_rooms }}</li>
              <li><strong>Floor Number</strong>:{{ estate.number_floor }} </li>
              <li><strong>Garden</strong>: {{ estate.garden }}</li>
              <li><strong>Pool</strong>:{{ estate.pool }} </li>
              <li><strong>price</strong>:{{ estate.price }} </li>

            </ul>
           
         
          </div>
          
          
        </div>
        <div class="row" >
          <div class="col-md-6">
            <div class="portfolio-info">
                <h3>Localisation</h3>
                <ul>
                    <li><strong>State</strong>: {{ estate.localisation.state }}</li>
                    <li><strong>City </strong>: {{ estate.localisation.city }}</li>
                    <li><strong>District </strong>:{{ estate.localisation.district }}</li>
                    <li><strong>Street</strong>: {{ estate.localisation.street }}</li>
                    <li><strong>Number </strong>: {{ estate.localisation.number }}</li>
                </ul>
        
             
            </div>
          </div>
        
        
          <div class="col-md-6">
            <div class="portfolio-info">
              <h3>Social Services</h3>
              <ul>
                  <li><strong>Type</strong>: Web design</li>
                  <li><strong>Name </strong>: ASU Company</li>
                  <li><strong>Descrpition</strong>: 01 March, 2020</li>
                </ul>
            </div>
            <br>
          <div  class="col-sm-10 offset-sm-8">
            <button  type="button" class="btn btn-primary rounded-pill"  > Payment Procedure </button> 
          </div>
          </div>

        </div>
        
      </div>

    </div>
  </section>

</main><!-- End #main -->
<!-- ======= Footer ======= -->
<!-- top button -->
<app-to-top></app-to-top>