<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row aos-init aos-animate" data-aos="fade-up">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          
          <li data-filter="*" class="filter-active" (click)="getAll()" >All
          <div *ngFor="let estate of estates">
            <div *ngFor="let ad of estate.rs.ads">
            </div>
          </div>
        </li>
         
        </ul>
        <div class="row">
          <div class="col-md-6 form-group">
            <input name="name" type="text" class="form-control"  #min placeholder="Minimum Price">
          </div>
          <div class="col-md-6 form-group">
            <input name="email" type="text" class="form-control" #max  placeholder="Maximum Price">
          </div>
        </div>
        <ul id="portfolio-flters">
      </ul>
      
      </div>
    </div>
    <div class="row portfolio-container aos-init aos-animate" data-aos="fade-up" >
      <div class="col-lg-4 col-md-6 portfolio-item filter-web" *ngFor="let e of entreprise ">
      
        <img src="assets/img/vermeg.jpg" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>{{e.nom}}</h4>
          <p >{{e.secteur}}</p>
          
          <div>
            
        
        </div>
          <a [routerLink]="['/entreprise',e.id]" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bi bi-plus-circle-fill"></i></a>
        </div>
          
         
          
        </div>
      </div>

    

    </div>
</section>