
<div class="circle-container">
  <div class="circle"><i class="bi bi-chat-square-text-fill"></i></div>
  <div class="circle"><i class="bi bi-calendar-check"></i></div>
  <div class="circle"><i class="bi bi-check-square"></i></div>
  

</div>
<div _ngcontent-nwo-c24="" class="reply-form">
  
  <h2 _ngcontent-nwo-c24=""> <i class="bi bi-check-circle-fill"></i> Bonjour Wael,</h2>
    <h4 _ngcontent-nwo-c24="" class="message"> 
      
    Nous avons bien reçu votre demande et vous remercions de la confiance et l’intérêt que vous témoignez à BIZMATCH !
    
    Nous sommes toujours à la recherche de nouveaux BIZZMATCH's, votre profil fera ainsi l'objet d'une étude approfondie et nous ne manquerons pas de vous tenir informé de la suite dans les meilleurs délais.
    
    En attendant, n'hésitez pas à consulter notre actualité sur le site web du Groupe ou à suivre notre page LinkedIn.
    
    Bien cordialement,
    <h2>L'équipe Adminstrative</h2>
     </h4>
   <img class="img" src="assets\img\Logo.jpg" alt="">

</div>