

<app-dashboard-header></app-dashboard-header>
  
<!-- ======= Sidebar ======= -->

<app-dashboard-side-bar *ngIf="userId !== 3"></app-dashboard-side-bar>
<app-side-bar *ngIf="userId == 3"></app-side-bar>



<!-- app.component.html -->
<br><br><br>

<br><br><br><br><br><br>

<main id="main2" class="main2">


<!-- app.component.html -->
<div class="container">
  <br><br><br>
  <table class="table">
    <thead>
      <tr>
        <th>Statut</th>
        <th>Sujet</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reclamation of reclamations">
        <td>
          <button class="btn status-button" [ngClass]="{'btn-success': reclamation.statut, 'btn-primary': !reclamation.Statut}">
            {{ reclamation.statut ? 'Traité' : 'En cours ..' }}
          </button>
        </td>
        <td>{{ reclamation.subject }}</td>
        <td class="description-cell">{{ reclamation.description }}</td>
      </tr>
    </tbody>
  </table>
</div>




</main>

<!-- ======= Footer ======= -->
<app-dashboard-footer></app-dashboard-footer>
