
    <div class="pagetitle">
      <h1 >Profile</h1>
  
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Users</li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile" >
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <h2>{{authService.User.fullName}}</h2>
             
              <div class="social-links mt-2">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered" role="tablist">

            
                <li class="nav-item" role="presentation">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit" aria-selected="false" role="tab" tabindex="-1">Profil Entreprise</button>
                </li>

                <li class="nav-item" role="presentation">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings" aria-selected="false" role="tab" tabindex="-1">Service</button>
                </li>

             

              </ul>
              <div class="tab-content pt-2">

                
                <div class="tab-pane fade profile-edit pt-3" id="profile-edit" role="tabpanel">

                  <!-- Profile Edit Form -->
                  <form>
                   
                    <div class="row mb-3">
                    
                      <div class="col-md-8 col-lg-9">
                        <input  type="text" class="form-control" id="fullName" value={{authService.User.id}}  name="id" hidden  [(ngModel)]="id">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">nom</label>
                      <div class="col-md-8 col-lg-9">
                        <input  type="text" class="form-control" id="nom" name="nom"   [(ngModel)]="nom">
                      </div>
                    </div>

                    

                    <div class="row mb-3">
                      <label for="company" class="col-md-4 col-lg-3 col-form-label">description</label>
                      <div class="col-md-8 col-lg-9">
                        <input  type="text" class="form-control" name="description"  [(ngModel)]="description">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="company" class="col-md-4 col-lg-3 col-form-label">Date de creéation</label>
                      <div class="col-md-8 col-lg-9">
                        <input  type="date" class="form-control" name="creationDate"  [(ngModel)]="creationDate">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="Job" class="col-md-4 col-lg-3 col-form-label">Nombre d'employés</label>
                      <div class="col-md-8 col-lg-9">
                        <input type="number" class="form-control" name="employeeNBR"  [(ngModel)]="employeeNBR">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Country" class="col-md-4 col-lg-3 col-form-label">Revenues annuelles</label>
                      <div class="col-md-8 col-lg-9">
                        <input type="number" class="form-control" name="income"[(ngModel)]="income" >
                      </div>
                    </div>


                    <div class="row mb-3">
                      <label for="Address" class="col-md-4 col-lg-3 col-form-label">Secteur</label>
                      <div class="col-md-8 col-lg-9">
                        <input  type="text" class="form-control" name="secteur"  [(ngModel)]="secteur">
                      </div>
                    </div>
                    
                 

                      
                    
                  </form><!-- End Profile Edit Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-settings" role="tabpanel">

                  <!-- Profile Edit Form -->
                  <form >
                  
                    <div class="row mb-3">
                    
                      <div class="col-md-8 col-lg-9">
                        <input  type="text" class="form-control" id="fullName" value={{authService.User.id}}  name="id" hidden  [(ngModel)]="id">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nom</label>
                      <div class="col-md-8 col-lg-9">
                        <input  type="text" class="form-control" id="nomS" name="nomS"   [(ngModel)]="nomS">
                      </div>
                    </div>

                  
                    <div class="row mb-3">
                      <label for="company" class="col-md-4 col-lg-3 col-form-label">description</label>
                      <div class="col-md-8 col-lg-9">
                        <input  type="text" class="form-control" name="descriptionS"  [(ngModel)]="descriptionS">
                      </div>
                    </div>
                 
                    <div class="row mb-3">
                      <label for="company" class="col-md-4 col-lg-3 col-form-label">Remise</label>
                      <div class="col-md-8 col-lg-9">
                        <input  type="number" class="form-control" name="discount"  [(ngModel)]="discount">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="company" class="col-md-4 col-lg-3 col-form-label">Qualité de service</label>
                      <div class="col-md-8 col-lg-9">
                        <input  type="text" class="form-control" name="servicequality"  [(ngModel)]="servicequality">
                      </div>
                    </div>

                    <div class="row mb-3" *ngIf="valid">
                      <label for="Address" class="col-md-4 col-lg-3 col-form-label"></label>
                      <div class="col-md-8 col-lg-9">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                          The entreprise was updated successfully
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>                      </div>
                    </div>

                  
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary" (click)="onSubmit()">create</button>
                    </div>
                      
                    
                  </form><!-- End Profile Edit Form -->

                </div>

               

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>


       

    </section>



