<!-- ======= Top Bar ======= -->
<app-top-bar></app-top-bar>
<!-- ======= Header ======= -->
<app-header></app-header>
<!-- ======= main ======= -->
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <!-- ======= Blog Section ======= -->
  <section id="blog" class="blog">
    <div class="container aos-init aos-animate" data-aos="fade-up">
      <div class="row">
        <!-- blog entries list -->
        <div class="col-lg-12 entries">
          <!-- card -->
          <app-card></app-card>
          <!-- Paginator -->
        </div>

        
      </div>
    </div>
  </section>
</main>
<!-- ======= Footer ======= -->
<app-footer></app-footer>
<!-- top button -->
<app-to-top></app-to-top>
