
<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        <section id="about-us" class="about-us">
          <div class="container">
    
            <div class="row no-gutters">
              <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start aos-init aos-animate" data-aos="fade-right"></div>
              <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
                <div class="content d-flex flex-column justify-content-center">
                  <h3 data-aos="fade-up" class="aos-init aos-animate">Some proposition for you</h3>
                  <p data-aos="fade-up" class="aos-init aos-animate">
                    Our system is designed to help you in all steps,
                    You can find Our suggestion to move this client to the next step based on its requirements and your products
                  </p>
                  <div class="row">
                    <div class="col-md-6 icon-box aos-init aos-animate" data-aos="fade-up">
                      <i class="bx bx-receipt"></i>
                      <h4>Marketing Approch</h4>
                      <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                    </div>
                    <div class="col-md-6 icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                      <i class="bx bx-cube-alt"></i>
                      <h4>Ullamco laboris nisi</h4>
                      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                    </div>
                    <div class="col-md-6 icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                      <i class="bx bx-images"></i>
                      <h4>Products</h4>
                      <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                    </div>
                    <div class="col-md-6 icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                      <i class="bx bx-shield"></i>
                      <h4>Discounts</h4>
                      <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
                    </div>
                  </div>
                </div><!-- End .content-->
              </div>
            </div>
    
          </div>
        </section>
      </div>
     
    </div>
  </div>
</div>

<section id="pricing" class="pricing">
  <div class="container">

    <div class="row">

     
      

      <div class="col order-first">
        <span><i class="bi bi-emoji-frown-fill t i1"></i><h1>new</h1></span>
        
        <div *ngFor="let c1 of clients[0]">
        <div class="box aos-init aos-animate c1 "  data-aos="fade-right" >
          <div class="btn-wrap">
            <button href="#" class="btndinfo" (click)="openFormModal()"><i class="bi bi-star-fill"></i></button>

          </div>
          <h3>new</h3>
          <ul>
            <li>{{c1.id}}</li>
           
          </ul>
          <div class="btn-wrap">
            <button href="#" class="btntop" (click)="deplacerElementAvant(0,c1.id)"><i class="bi bi-arrow-up-right"></i></button>
          </div>
        </div>

        <hr>
      </div>
        
      </div>

      

      <div class="col">
        <span><i class="bi bi-emoji-smile-fill t i2"></i> <h1>proposed</h1></span>
        

        <div *ngFor="let c2 of clients[1]">
        <div class="box aos-init aos-animate c2"  data-aos="fade-up">
          <div class="btn-wrap">
            <button href="#" class="btndinfo" (click)="openFormModal()"><i class="bi bi-star-fill"></i></button>
          </div>
          <h3>proposed</h3>
          <ul>
            <li>{{c2.id}}</li>
           
          </ul>
          <div class="btn-wrap">
            <button href="#" class="btndown" (click)="deplacerElementArriere(1,c2.id)"><i class="bi bi-arrow-down-left"></i></button>
            <button href="#" class="btntop" (click)="deplacerElementAvant(1,c2.id)"><i class="bi bi-arrow-up-right"></i></button>
          </div>
        </div>
        <hr>
      </div>
      </div>

      <div class="col order-last">
        <span><i class="bi bi-emoji-sunglasses-fill t i3"></i><h1>won</h1></span>

        <div *ngFor="let c3 of clients[2]">
        <div class="box aos-init aos-animate c3"  data-aos="fade-left">
          <div class="btn-wrap">
            <button href="#" class="btndinfo" (click)="openFormModal()"><i class="bi bi-star-fill"></i></button>
          </div>
          <h3>won</h3>
          <ul>
            <li>{{c3.id}}</li>
           
          </ul>
          <div class="btn-wrap">
            <button href="#" class="btndown" (click)="deplacerElementArriere(2,c3.id)"><i class="bi bi-arrow-down-left"></i></button>
          </div>
        </div>
        <hr>
      </div>
      </div>

    </div>

  </div>

  <section id="team" class="team section-bg">
    <div class="container">

      <div class="section-title aos-init aos-animate" data-aos="fade-up">
        <h2>Our <strong>Team can help you </strong></h2>
        <p>If you are wondering about managing your clients and you don't khow how, out team is available for you.</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member aos-init aos-animate" data-aos="fade-up">
            <div class="member-img">
              <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Walter White</h4>
              <span>Chief Executive Officer</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Sarah Jhonson</h4>
              <span>Product Manager</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>William Anderson</h4>
              <span>CTO</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Amanda Jepson</h4>
              <span>Accountant</span>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
</section>    




