
<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        <section id="about-us" class="about-us">
          <form  #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm)">
              
            <mdb-form-control>
              <input mdbInput type="text" id="form1" class="form-control" name="fullname" required [(ngModel)]="fullname" />
              <label mdbLabel class="form-label" for="form1">Fullrname</label>

            </mdb-form-control>
<hr>
            <mdb-form-control>
              <input mdbInput type="email" id="form1" class="form-control" name="email" required [(ngModel)]="email" />
              <label mdbLabel class="form-label" for="form1">Email</label>

            </mdb-form-control>
            <span class="errmsg" style="color: red;" *ngIf="clientForm.control.controls['email'].touched && clientForm.control.controls['email'].invalid">* email is required</span>
<hr>
           

            <mdb-form-control>
              <input mdbInput type="tel" id="form1" class="form-control" name="phone" required [(ngModel)]="phone" />
              <label mdbLabel class="form-label" for="form1">Phone</label>

            </mdb-form-control>

<hr>

       
            
          

         
            <button type="submit" class="btn mb-md-0 mb-2 btn-quarternary " >Add</button>     
            
            
          </form>
        </section>
      </div>
     
    </div>
  </div>
</div>
<button href="#" class="btndinfo" (click)="openFormModal()"><i class="bi bi-plus-circle-fill"></i></button>

<section id="pricing" class="pricing">
  <div class="container">

    <div class="row">

     
      

      <div class="col order-first">
        <span><i class="bi bi-emoji-frown-fill t i1"></i><h1>new</h1></span>
        
        <div *ngFor="let c1 of client" >
        <div class="box aos-init aos-animate c1 " *ngIf="c1.estatus === 'NEW'"  data-aos="fade-right" >
          <div class="btn-wrap">

          </div>
          <h3>new</h3>
          <ul>
            <li>{{c1.actor.fullname}}</li>
            <li>{{c1.actor.email}}</li>
            <li>{{c1.actor.phone}}</li>
           
          </ul>
          <div class="btn-wrap">
            <button href="#" class="btntop" (click)="changeRelationStatusTop(c1.id, c1.actor.id, c1.estatus)"><i class="bi bi-arrow-up-right"></i></button>
          </div>
        </div>

        <hr>
      </div>
        
      </div>

      

      <div class="col">
        <span><i class="bi bi-emoji-smile-fill t i2"></i> <h1>proposed</h1></span>
        

        <div *ngFor="let c2 of client">
        <div class="box aos-init aos-animate c2" *ngIf="c2.estatus === 'PROPOSED'"  data-aos="fade-up">
          <div class="btn-wrap">
          </div>
          <h3>proposed</h3>
          <ul>
            <li>{{c2.actor.fullname}}</li>
            <li>{{c2.actor.email}}</li>
            <li>{{c2.actor.phone}}</li>           
          </ul>
          <div class="btn-wrap">
            <button href="#" class="btndown" (click)="changeRelationStatusDown(c2.id, c2.actor.id, c2.estatus)"><i class="bi bi-arrow-down-left"></i></button>
            <button href="#" class="btntop" (click)="changeRelationStatusTop(c2.id, c2.actor.id, c2.estatus)"><i class="bi bi-arrow-up-right"></i></button>
          </div>
        </div>
        <hr>
      </div>
      </div>

      <div class="col order-last">
        <span><i class="bi bi-emoji-sunglasses-fill t i3"></i><h1>won</h1></span>

        <div *ngFor="let c3 of client">
        <div class="box aos-init aos-animate c3" *ngIf="c3.estatus === 'WON'"  data-aos="fade-left">
          <div class="btn-wrap">
          </div>
          <ul>
            <li>{{c3.actor.fullname}}</li>
            <li>{{c3.actor.email}}</li>
            <li>{{c3.actor.phone}}</li>           
          </ul>
          <div class="btn-wrap">
            <button href="#" class="btndown" (click)="changeRelationStatusDown(c3.id, c3.actor.id, c3.estatus)"><i class="bi bi-arrow-down-left"></i></button>
          </div>
        </div>
        <hr>
      </div>
      </div>

    </div>

  </div>

  <section id="team" class="team section-bg">
    <div class="container">

      <div class="section-title aos-init aos-animate" data-aos="fade-up">
        <h2>Our <strong>Team can help you </strong></h2>
        <p>If you are wondering about managing your clients and you don't khow how, out team is available for you.</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member aos-init aos-animate" data-aos="fade-up">
            <div class="member-img">
              <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Walter White</h4>
              <span>Chief Executive Officer</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Sarah Jhonson</h4>
              <span>Product Manager</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>William Anderson</h4>
              <span>CTO</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Amanda Jepson</h4>
              <span>Accountant</span>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
</section>    




